
html{

    background-color: gray;
    
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;

}

body{
    
    min-height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
}

main{
    
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: column;

}
a{

    text-decoration: none;
    color: black;

}

.texto{

    border-radius: 10px;
    border-color: rgb(0, 0, 0);

}

.out{

    margin: 2.5px;
    background-color: rgb(233, 187, 126);
    border-radius: 8px;
    border-color: rgba(255, 255, 255, 0);
    width: 100%;
    height: 25px;

}

.contenido{

    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    margin-top: 10px;
    background-color: rgba(116, 117, 148, 0.527);
    min-height: 300px;


}

h1{

    margin: 0px;

}

h6{

    margin: 10px;

}

.ut{

    display: flex;
    flex-direction: column;
    align-items: center;

}

span{

    margin: 10px;
    background-color: rgb(86, 133, 233);
    padding: 10px;
    border: 4px rgb(255, 0, 0);
    border-radius: 10px;

}

.selected{

    background-color: rgb(255, 0, 0);

}